<header id="main-area">    
  <div class="overlay-2"></div> 
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-10">
        <div class="contents text-center">
          <h1 class="animated fadeInDown slow pos">¿Necesitas administrar tu tiempo? ¿Olvidaste tus reuniones importantes?</h1>
          <p class="lead pos animated fadeIn">Organiza tus salidas, tus reuniones, ese acontecimiento importante que no puedes volver a olvidar, déjanos el trabajo a nosotros y disfruta de tu día.</p>
          <br><br>
        </div>
      </div>
    </div> 
  </div>      
</header>

<section id="blog" class="section animated bounceInLeft slow pos">
  <h1 class="last-found">Notas de Nuestros Usuarios</h1>
  <%= render 'main/partials/user_notes' %>
</section>

<%= render 'main/partials/contact' %>

    