<footer class="nav-color" style="color: white">
  <div class="text-center py-4">
    <p>Este proyecto esta licenciado por la licencia GPL v2 <span class="copyleft">&copy;</span> 
      <%= Date.today.year %>.</p>
  </div>
</footer>