<footer class="nav-color" style="color: white">
  <div class="text-center py-4">
    <p>This work is licensed under the GPL v2 License <span class="copyleft">&copy;</span> 
      <%= Date.today.year %>.</p>
  </div>
</footer>