<div class="jumbotron jumbotron-fluid mt-5 jumb-style">
  <div class="container ">
    <h1 class="display-4 ">Bienvenido! <%= current_user.username %></h1>
    <p class="lead">Aún no tienes ninguna nota creada, por lo que te recomendamos que administres de buena manera tu tiempo con nuestra aplicación</p>
    <a class="btn mt-5 btn-primary" href="<%= new_note_path %>" role="button">Comenzar a crear notas</a>
  </div>
</div>