<div class="col-md-10 not-found">
  <br>
  <h2 style="text-align: center; color: white">No se encontraron resultados</h2>
  <br>
  <img class="card-img-top mb-4" src="<%= image_url('main/nyan.gif') %>" alt="fisica" title="fisica">
</div>
