<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="<%= image_url('main/taller.jpg') %>" alt="taller" title="taller">
    <div class="card-body">
      <h5 class="card-title">Mantención de Taller</h5>
      <p class="card-text">Necesito realizar una mantención de mi tayer el día de mañana</p>
    </div>
    <div class="card-footer">
      <small style="font-size: inherit;">Fecha 12 febrero de 2019 a las 01:42 horas.</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="<%= image_url('main/fisica.jpeg') %>" alt="fisica" title="fisica">
    <div class="card-body">
      <h5 class="card-title">Prueba de Física</h5>
      <p class="card-text">Esta es la última prueba del semestre debo organizar mis apuntes para estudiar para el último parcial.</p>
    </div>
    <div class="card-footer">
      <small style="font-size: inherit;">Fecha 15 febrero de 2019 a las 04:42 horas. 
      </small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="<%= image_url('main/futbol.jpeg') %>" alt="futbol" title="futbol">
    <div class="card-body">
      <h5 class="card-title">Fútbol con Amigos</h5>
      <p class="card-text">El fin de semana siguiente volveré a las canchas luego de un largo tiempo de ausencia.</p>
    </div>
    <div class="card-footer">
      <small style="font-size: inherit;">Fecha 15 marzo de 2019 a las 11:42 horas.</small>
    </div>
  </div>
</div>