@import "bootstrap";
@import "gritter";
@import "font-awesome";

.img_nav_profile{
  width: 40px;
  height: 35px;
  border-radius: 50%;
}

.nav-color{
  background: #000046; 
  background: -webkit-linear-gradient(to right, #000046, #1cb5e0); 
  background: linear-gradient(to right, #000046, #1cb5e0);
}


.copyleft{
  font: 18px Arial, sans-serif;
  display: inline-block;
  transform: rotate(180deg);
}

.btn-facebook{
  font-size: larger;
  padding: 10px;
  color: #fff;
  background-color: #3B5998;
  border-color: #3B5998;
}

.btn-facebook:hover {
  color: #CCCCCC;
}

.login-style{
  margin: 0 auto; margin-top: 10px; margin-bottom: 10px;
}

.custom-file-input ~ .custom-file-label:lang(en)::after {
    content: "Select File";
}

.custom-file-input ~ .custom-file-label:lang(es)::after {
    content: "Seleccionar archivo";
}

$custom-file-text: (
  en: "Browse",
  es: "Elegir"
);

.avatar_profile{
  height: 150px; 
  width: 150px; 
  border-radius: 150px;
}

#button-scroll {
  display: inline-block;
  background-color: gray;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button-scroll::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button-scroll:hover {
  cursor: pointer;
  background-color: #333;
}
#button-scroll:active {
  background-color: #555;
}
#button-scroll.show {
  opacity: 1;
  visibility: visible;
}